apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-lqhbqdgx
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-lqhbqdgx:f9c2940ca3453f0ac7b47924e88c026c551acdfb@sha256:25971e0c40913fd3c369c538ab37222bef1ca0c63221950ba07ac3604b23f272
        name: container-image  
